<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="icon" href="{% static "bms/favicon.ico" %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static "bms/css/bootstrap.css" %}">
        <script src="{% static "bms/js/numeral.js" %}"></script>
        <script src="{% static "bms/js/Chart.js" %}"></script>
    {% block head %}

        <title>{% block title %}{% endblock %}</title>

    {% endblock %}
</head>
<body>

<div id="content">{% block content %}{% endblock %}</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static "bms/js/jquery-3.4.1.js" %}"></script>
<script src="{% static "bms/js/popper.min.js" %}"></script>
<script src="{% static "bms/js/bootstrap.js" %}"></script>


{% block myjs %}{% endblock %}

</body>
</html>