{% load tags %}


<script type="text/javascript"> 
    var error_c = "{{error_c}}";
    var money_c = "{{money_c}}";
    var max_money = "{{max_money}}";
    var max_error = "{{max_error}}"
 </script>
<label for="customRange1">Дополнительная выручка с продажи АП</label>
<input type="range" class="custom-range" id="money" value="0" step="0.0000001">
<label for="customRange1">Кол-во ошибок</label>
<input type="range" class="custom-range" id="errors" value="100" step="0.0000001">

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Проблема(ы)
            </th>
            <th>
                Ошибка
            </th>
            <th>
                Кол-во
            </th>
            <th>
                FTE used
            </th>
            <th>
                Стоимость
            </th>
            <th>
         
            </th>
        </tr>
    </thead>
    <tbody>
        {% for error in str_data %}
            <tr>
            <td>{{str_data|index:forloop.counter0|index:0|linebreaks}}</td>
            <td>{{str_data|index:forloop.counter0|index:1}}</td>
            <td id="error_{{forloop.counter0}}">{{str_data|index:forloop.counter0|index:2}}</td>
            <td id="fte_{{forloop.counter0}}">{{str_data|index:forloop.counter0|index:3}}</td>
            <td id="money_{{forloop.counter0}}">{{str_data|index:forloop.counter0|index:4}}</td>
            <td ><input type="checkbox" class="form-check-input error_check mx-1" id="check_{{forloop.counter0}}"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

                   
