{% extends 'bms/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" id="div1">
    <div class="row">
        <div class="col-6">
            <div class="shadow-sm p-3 mb-5 bg-white rounded chart-container">
                {% include "bms/card1.html" %}
            </div>
        </div>
        <div class="col-6">
            <div class="col-12">
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                    {% include "bms/card2.html" %}
                </div>
            </div>
            <div class="col-12">
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                {% include "bms/chart.html" %}
            </div>
        </div>
    </div>
</div>  
{% endblock %} 
{% block myjs %} 
{% csrf_token %} 
<script src="{% static "bms/js/recalcdata.js" %}"></script>

{% endblock %}