{% extends 'base.html'%}
{% load static %}

{% block JavaScript %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'loyalty/js/loycard.js' %}"></script>

{% endblock %}
{% block page_title %}
Выручай-карта

{% endblock %}


{% block Content %}
<form>
  <div class="row">
      <div class="col-xl-3 col-lg-6 my-2 col-md-12">
      <input type="text" class="form-control" placeholder="SAP-номер магазина (4 цифры)" name="sap" id="store_input">
    </div>
    <div class="col-xl-3 col-lg-6 my-2 col-md-12">
      <input type="text" class="form-control" placeholder="Номер кассы" id="pos_input">
    </div>
    <div class="col-xl-3 col-lg-6 my-2 col-md-12">
      <input type="date" name="bday" class="form-control" id="trans_date">
    </div>
    <div class="col-xl-3 col-lg-6 my-2 col-md-12">
        <button type="button" class="btn btn-success btn-md" id="loyalty_card_parser">Поиск </button>
    </div>
  </div>
</form>

<div id="transactions" ></div>

{% endblock %}
