
  .footer {
      
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      background-color: #f5f5f5;
  
  }
  
  .footer-container {
    width: auto;
    max-width: 900px;
    padding: 0 15px;
  }