{% load filters %}

<div class="modal fade" id="pos" tabindex="-1" role="dialog" aria-labelledby="#poses" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="poses">Статистика работы касс {{store.host}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                        {% for metric in store.store.poses.graphics|keys %} 
                        <div class="col-xl-6 col-lg-12">
                        <div class="chart-container" style="position: relative; height:60vh; width:auto">
                                <canvas id="{{ metric }}">
                                    <script>
                                        Chart.scaleService.updateScaleDefaults('linear', {
                                            ticks: {
                                                min: 0
                                            }
                                        });
                                        new Chart(document.getElementById("{{ metric }}"), {
                                            type: 'scatter',
                                            data: {
                                                datasets: [
                                                {% for i in store.store.poses.name|range_len %} 
                                                 {
                                                            data:
                                                                [ {% for j in store.store.poses.graphics|elem:metric|elem:i %}
                                                                
                                                                {t: moment.unix({{j.x}}), y: {{j.y}} },
                                                                {% endfor %}],
                                                                label: "{{store.store.poses.name|elem:i}}",
                                                                fill: true,
                                                                showLine: true,
                                                                borderColor: '{{store.colors|elem:i}}',
                                                                borderWidth: 1,
                                                                radius: 1,
                                                                pointBackgroundColor: '{{store.colors|elem:i}}'
        
                                                        },
                                                    {% endfor %}
                                                ]
                                            },
                                            options: {
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                tooltips: {
                                                    mode: 'index',
                                                    axis: 'x',
                                                    intersect: false,
                                                    callbacks: {
                                                        label: function(tooltipItem, data) {
                                                            var label = data.datasets[tooltipItem.datasetIndex].label || '';

                                                            if (label) {
                                                                label += ': ';
                                                            }
                                                            label += Math.round(tooltipItem.yLabel * 100) / 100;
                                                            return label;
                                                        }
                                                    }
                                                },
                                                hover: {
                                                    mode: 'nearest',
                                                    intersect: true
                                                },
                                                title: {
                                                    display: true,
                                                    text: '{{metric}}'
                                                },
                                                scales: {
                                                    xAxes: [{
                                                        type: "time",
                                                        time:{
                                                            unit: 'second',
                                                            displayFormats: {
                                                                second: 'MM-DD HH:mm'
                                                            },
                                                            stepSize: 7200
                                                        }
                                                    }]
                                                }
                                            }
                                        });
                                    </script>
                                </canvas>
                            </div>
                        </div>
                        {% endfor %}  
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<div class="card ">
    <div class="card-header bg-{{store.dashboard_pos}} text-white" id="headingPoses" tabindex="0" data-toggle="collapse"
        data-target="#poses" aria-expanded="true" aria-controls="poses">
        <h5 class=" mb-0">
            <b>Кассы ({{store.store.poses.name|length}})</b>
            <i class="fas fa-cash-register float-right mx-1"></i>
        </h5>
    </div>
    <div id="poses" class="collapse show" aria-labelledby="headingPoses">
        <div class="card-body-block bg-light">
            <div class="row">
                {% for i in store.store.poses.name|range_len %}
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div
                        class="card text-white my-1 {% if store.store.poses.status|elem:i == 'offline' %} bg-dark {% elif store.store.poses.name|elem:i in store.store.problems %} bg-danger {% elif store.store.poses.status|elem:i == 'online' %} bg-success {% endif %}">
                        <div class="card-header">
                            <h6 class="card-title">Касса {{i|add:1}}   
                                <i class="fas fa-cash-register float-left mr-3"></i>
                                <a href="#" data-toggle="modal" data-target="#pos"><i class="fas fa-chart-bar float-right text-white mx-1"></i></a>
                                {% if store.store.poses.name|elem:i in store.store.problems %}
                                <a href="#" data-toggle="modal" data-target="#pos{{i}}_problems"><i class="fas fa-exclamation-triangle float-right text-warning mx-1"></i></a>
                                {% else %}
                                <i class="fas fa-exclamation-triangle float-right text-white"></i>
                                {% endif %}
                            </h6>
                            <em class="small">{{store.store.poses.ip|elem:i}}</em>
                            {% if store.store.poses.status|elem:i == 'online' %}
                            <em class="small float-right "><i class="fas fa-stopwatch float-right ml-2 pt-1"></i> {{store.store.poses.uptime|elem:i}}</em> 
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% for i in store.store.poses.name|range_len %}
<div class="modal fade" id="pos{{i}}_problems" tabindex="-1" role="dialog" aria-labelledby="#pos{{i}}_problem" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pos{{i}}_problem">Проблемы кассы {{store.store.poses.name|elem:i}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for key, val in store.store.problems.items %}
                    {% if key == store.store.poses.name|elem:i %}
                        <table class="table table-striped">
                            <thead>
                                <tr><th>Дата</th><th>Проблема</th></tr>
                            </thead>
                            <tbody>
                                {% for e in store.store.problems|elem:key %}
                                <tr><td>{{e.date}}</td><td>{{e.name}}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}