{% load filters %}



{% if store.store.tsd %}
<div class="card ">
    <div class="card-header bg-success text-white" id="headingTsd" tabindex="0" data-toggle="collapse"
        data-target="#tsd" aria-expanded="true" aria-controls="tsd">
        <h5 class=" mb-0">
            <b>ТСД  ({{ store.store.tsd|length }})</b>
            <i class="fas fa-cash-register float-right mx-1"></i>
        </h5>
    </div>
    <div id="tsd" class="collapse show" aria-labelledby="headingTsd">
        <div class="card-body-block bg-light">
            <div class="row">
                {% for item in store.store.tsd %}
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div
                        class="card text-white my-1 {% if item.status == 'online' %} bg-success {% elif item.status == 'offline' %} bg-dark {% endif%}">
                        <div class="card-header">
                            <h6 class="card-title">
                                {{item.name}}
                                <i class="fas fa-barcode float-left mr-3 "></i>
                            </h6>
                            <em class="small">{{item.ip}}</em>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}