{% load filters %}

<div class="modal fade" id="bo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:100%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Статистика работы {{store.host}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for i in store.store.bo.graphics %}
                    <div class="col-xl-6 col-lg-12">
                        <div class="chart-container" style="position: relative; height:60vh; width:auto">
                            <canvas id="{{i.itemid}}">
                                <script>
                                    Chart.scaleService.updateScaleDefaults('linear', {
                                        ticks: {
                                            min: 0,
                                            max: 100
                                        }
                                    });
                                    new Chart(document.getElementById("{{i.itemid}}"), {
                                        type: 'line',
                                        data: {
                                            labels: [{% for item in i.time %}
                                                "{{item}}",
                                                {% endfor %}
                                            ],
                                            datasets: [{
                                                data: {{i.values}},
                                                label: "{{ store.store.bo.name }}: {{i.name}}",
                                                borderColor: "#3e95cd",
                                                fill: false,
                                                radius: 1
                                            }]
                                        },
                                        options: {
                                            maintainAspectRatio: false,
                                            title: {
                                                display: false,
                                                text: '{{i.name}}'

                                            },
                                            hover: {
                                                    mode: 'nearest',
                                                    intersect: true
                                            }
                                        },
                                    });
                                </script>
                            </canvas>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header bg-{{store.dashboard_server}} text-white" id="headingServer" tabindex="0"
        data-toggle="collapse" data-target="#sever" aria-expanded="true" aria-controls="sever">
        <h5 class=" mb-0">
            <b>Сервер </b>
            <i class="fas fa-server float-right mx-1"></i>
            {% comment %} <i class="fas fa-business-time float-right pt-2"></i> {% endcomment %}
        </h5>
    </div>
    <div id="sever" class="collapse show" aria-labelledby="headingServer">
        <div class="card-body-block bg-light">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div
                        class="card text-white my-1 {% if store.store.bo.status == 'offline'%} bg-dark {% elif store.store.bo.name in store.store.problems %} bg-danger {% elif store.store.bo.status == 'online' %} bg-success  {% endif %}">
                        <div class="card-header">
                            <h6 class="card-title">
                                Бэк-Офис
                                <i class="fas fa-server float-left mr-3"></i>
                                <a href="#" data-toggle="modal" data-target="#bo"><i
                                class="fas fa-chart-bar float-right text-white mx-1"></i></a>
                                {% if store.store.bo.name in store.store.problems %}
                                <a href="#" data-toggle="modal" data-target="#bo_problems"><i class="fas fa-exclamation-triangle float-right text-warning mx-1"></i></a>
                                {% else %}
                                <i class="fas fa-exclamation-triangle float-right text-white"></i>
                                {% endif %}
                            </h6>
                            <em class="small">{{store.store.bo.ip}}</em> {% if store.store.bo.status == 'online ' %}
                            <em class="small float-right">{{store.store.bo.uptime}}</em> {% endif %}
                            {% if store.store.bo.status == 'online' %}
                            <em class="small float-right "><i class="fas fa-stopwatch float-right ml-2 pt-1"></i>
                                {{store.store.bo.uptime}}</em>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if store.store.cash %}
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div
                        class="card text-white my-1 {% if store.store.cash.status == 'offline'%} bg-dark {% elif store.store.cash.name in store.store.problems %} bg-danger {% elif store.store.cash.status == 'online' %} bg-success  {% endif %}">
                        <div class="card-header">
                            <h6 class="card-title">
                                Кэш-контроллер
                                <i class="fas fa-server float-left mr-3"></i>
                                {% if store.store.cash.name in store.store.problems %}
                                <a href="#" data-toggle="modal" data-target="#cash_problems"><i class="fas fa-exclamation-triangle float-right text-warning mx-1"></i></a>
                                {% else %}
                                <i class="fas fa-exclamation-triangle float-right text-white"></i>
                                {% endif %}
                            </h6>
                            <em class="small">{{store.store.cash.ip}}</em> {% if store.store.cash.status == 'online ' %}
                            <em class="small float-right">{{store.store.cash.uptime}}</em> {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %} {% if store.store.bio %}
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div
                        class="card text-white my-1 {% if store.store.bio.status == 'offline'%} bg-dark {% elif store.store.bio.name in store.store.problems %} bg-danger {% elif store.store.bio.status == 'online' %} bg-success  {% endif %}">
                        <div class="card-header">
                            <h6 class="card-title">
                                Био-терминал
                                <i class="fas fa-fingerprint float-left mr-3"></i>
                                <i class="fas fa-exclamation-triangle float-right text-white mx-1"></i>
    
                            </h6>
                            <em class="small">{{store.store.bio.ip}}</em>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="bo_problems" tabindex="-1" role="dialog" aria-labelledby="#bo_problem" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bo_problem">Проблемы Бэк-Офиса> {{store.store.bo.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for key, val in store.store.problems.items %}
                    {% if key == store.store.bo.name%}
                        <table class="table table-striped">
                            <thead>
                                <tr><th>Дата</th><th>Проблема</th></tr>
                            </thead>
                            <tbody>
                                {% for e in store.store.problems|elem:key %}
                                <tr><td>{{e.date}}</td><td>{{e.name}}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cash_problems" tabindex="-1" role="dialog" aria-labelledby="#cash_problem" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cash_problem">Проблемы Кэш-контроллера {{store.store.cash.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for key, val in store.store.problems.items %}
                        {% if key == store.store.cash.name%}
                            <table class="table table-striped">
                                <thead>
                                    <tr><th>Дата</th><th>Проблема</th></tr>
                                </thead>
                                <tbody>
                                    {% for e in store.store.problems|elem:key %}
                                    <tr><td>{{e.date}}</td><td>{{e.name}}</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>