{% extends 'dashboard/dashboard_base.html'%}

{% block page_title %}
Карточка магазина 
{% endblock %}

{% block sidebar_dashboard %}
<li class="nav-item">
    <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#Store_dashboard" aria-expanded="true"
        aria-controls="Store_dashboard">
        <i class="fas fa-store"></i>
        <span>Карточка магазина {% if store.host %} {{store.host}} {% endif %}</span>
    </a>
    <div id="Store_dashboard" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'dashboard_index' %}">Главная</a>
            <a class="collapse-item" href="{% url 'dashboard' server=store.host  page='dashboard' %}">Карточка</a>
            <a class="collapse-item" href="{% url 'dashboard' server=store.host  page='server' %}">Бэк-Офис</a>
            <a class="collapse-item" href="{% url 'dashboard' server=store.host  page='poses' %}">Кассы</a>
            <a class="collapse-item" href="{% url 'dashboard' server=store.host  page='network' %}">Сеть</a>
            <a class="collapse-item" href="{% url 'dashboard' server=store.host  page='promo' %}">Цены и промо</a>
        </div>
    </div>
</li>
{% endblock %}


{% block Content %}
<div class="row">
        <div class="col-xl-4 col-md-6 mb-4 ">
            <h1 class="mt-4" align="center">Пятерочка</h1>
            <h5 class="mt-4" align="center">Тестирование</h5>
            <p class="lead" align="center"> Добавлено магазинов: {{store.x5_stores | length }}</p>
    
        </div>
        <div class="col-xl-4 col-md-6 mb-4 ">
            <h1 class="mt-4" align="center">Перекресток</h1>
            <h5 class="mt-4" align="center">Процесс интеграции</h5>
        </div>
        <div class="col-xl-4 col-md-6 mb-4 ">
            <h1 class="mt-4" align="center">Карусель</h1>
            <h5 class="mt-4" align="center">Процесс интеграции</h5>
        </div>
    </div>
{% endblock %}

{% block JavaScript %}
{% endblock %}