{% extends 'dashboard/dashboard_index.html'%} {% load filters %} 

{% block page_title %}
Карточка магазина {{store.host}}
{% endblock %}

{% block Content %}
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12">
        {% include "dashboard/_dashboard_server.html" %}
        {% include "dashboard/_dashboard_tsd.html" %}
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12">
        {% include "dashboard/_dashboard_poses.html" %}
        
    </div>
</div>

 {% endblock %}