{% extends 'dashboard/dashboard_index.html'%}
{% load filters %}


{% block page_title %}
Сеть магазина {{store.host}}
{% endblock %}

{% block Content %}
<div class="row">
    <div class="col-6">
        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Доступность роутера {{store.host}}</th>
                </tr>
            </thead>
            <tbody>
                {% for i in store.store.bo.network %}
                <tr>
                    <td>{{i.name}}</td>
                    {% if i.lastvalue == '1' %}
                    <td>OK</td>
                    {% else %}
                    <td>NOT OK</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}