{% extends 'dashboard/dashboard_index.html'%}
{% load filters %}


{% block page_title %}
Кассы магазина {{store.host}}
{% endblock %}


{% block Content %}
<div class="row mx-3">
        <div class="col-12 table-responsive">
         <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Метрика</th>
                            {% for i in store.store.poses.name %}
                            <th>{{i}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="{{store.store.poses.name|length|add:1}}" align="center"><b>Последний пробитый алкоголь на кассах</b></td></tr>
                        <tr>
                            <td><b>Дата и время</b></td>
                            {% for i in store.store.poses.last_alk %}
                                <td>{{i.date}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td><b>Товар</b></td>
                            {% for i in store.store.poses.last_alk %}
                                <td>{{i.item}}</td>
                            {% endfor %}
                        </tr>

                        <tr><td colspan="{{store.store.poses.name|length|add:1}}" align="center"><b>Дата и время формирования z-отчета на кассах</b></td></tr>
                        <tr>
                            <td><b>Дата и время</b></td>
                            {% for i in store.store.poses.z %}
                                <td>{{i.date}}</td>
                            {% endfor %}
                        </tr>

                        <tr><td colspan="{{store.store.poses.name|length|add:1}}" align="center"><b>Дата и время последнего чека на кассах</b></td></tr>
                        <tr>
                            <td><b>Дата и время</b></td>
                            {% for i in store.store.poses.last_check %}
                                <td>{{i.date}}</td>
                            {% endfor %}
                        </tr>

                    {% for item in store.store.poses.metrics|keys %}
                        <tr><td colspan="{{store.store.poses.name|length|add:1}}" align="center"><b>{{item}}</b></td></tr>
                            {% for i in store.store.poses.metrics|keys:item %}
                                <tr>
                                    <td><b>{{i}}</b></td>
                                    {% for j in store.store.poses.metrics|elem:item|elem:i %}
                                        <td>{{j}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    {% endblock %}