{% extends 'dashboard/dashboard_index.html'%}
{% load filters %}


{% block page_title %}
Промо магазина {{store.host}}
{% endblock %}

{% block Content %}
<div class="row">
    <div class="col-xl-6 col-lg-12">
        <table class="table table-sm table-striped">
            <caption>Товары с нулевой ценой в {{store.host}}</caption>
            <thead class="thead-dark">
                <tr>
                    <th>ID PRODUCT</th>
                    <th>NAME PRODUCT</th>
                </tr>
            <tbody>
                {% for i in store.store.null_prices %}
                <tr>
                    <td>{{i.ids}}</td>
                    <td>{{i.item}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-xl-6 col-lg-12">
        <table class="table table-sm table-striped">
            <caption>Действующие акции PROMO в {{store.host}}</caption>
            <thead class="thead-dark">
                <tr>
                    <th>PROMO</th>
                    <th>DESCRIPTION</th>
                </tr>
            <tbody>
                {% for i in store.store.promo %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}