{% load static %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{%  static 'css/all.css' %}">
    <link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%  static 'css/base.css' %}">
    <link rel="stylesheet" href="{%  static 'css/sticky-footer.css' %}">
    <link rel="stylesheet" href="{%  static 'css/datatables.min.css' %}">

    
    {% block link %}
    {% endblock %}
    {% block JavaScript %}
    {% endblock %}
    <script src="{% static 'js/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/Chart.js' %}" type="text/javascript"></script>
    <title>
        X5 Retail Group
    </title>
</head>

<body id="page-top" class="sidebar-toggled">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-gray sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'main_index' %}">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'img/x5.png' %}" height="20">
                </div>
                <div class="sidebar-brand-text mx-1">М<i class="far fa-eye"></i>ниторинг </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            {% block sidebar %}
            <!-- Nav Item - Dashboard -->
            {% block sidebar_dashboard %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'dashboard_index' %}">
                    <i class="fas fa-store"></i>
                    <span>Карточка магазина</span>
                </a>
            </li>
            {% endblock %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#Support"
                    aria-expanded="true" aria-controls="Support">
                    <i class="fas fa-headset"></i>
                    <span>Поддержка</span>
                </a>
                <div id="Support" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'rating' %}"> <i class="fas fa-award"></i> Оценки</a>
                        <!-- <h5 class="collapse-header">БФ:</h5>
                            <a class="collapse-item" href="{% url 'tcx' %}"> <i class="far fa-credit-card"></i> Перекресток</a> -->
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#Loyalty"
                    aria-expanded="true" aria-controls="Loyalty">
                    <i class="fas fa-cart-plus"></i>
                    <span>Лояльность</span>
                </a>
                <div id="Loyalty" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h5 class="collapse-header">ТС5:</h5>
                        <a class="collapse-item" href="{% url 'loycard' %}"> <i class="fas fa-cart-plus"></i> Выручай-карты</a>
                        <a class="collapse-item" href="{% url 'barcode' %}"> <i class="fas fa-cart-plus"></i> ГШК</a>
                        <a class="collapse-item" href="{% url 'stiker' %}"> <i class="fas fa-cart-plus"></i> Наклейки</a>
                        <a class="collapse-item" href="{% url 'soccard' %}"> <i class="fas fa-cart-plus"></i> Соцкарты</a>
                        <a class="collapse-item" href="{% url 'spasibo' %}"> <i class="fas fa-cart-plus"></i> Спасибо</a>
                        <a class="collapse-item" href="{% url 'stoloto' %}"> <i class="fas fa-cart-plus"></i> Столото</a>
                        <h5 class="collapse-header">БФ:</h5>
                        <a class="collapse-item" href="{% url 'tcx' %}"> <i class="far fa-credit-card"></i> Перекресток</a>
                    </div>
                </div>
            </li>

            {% endblock %}


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    {% block search %}
                    {% endblock %}

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h1 class="h2 mb-0">
                            {% block page_title %}
                            {% endblock %}
                        </h1>
                    </div>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        {% block search_dropdown %}
                        {% endblock %}


                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">1</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Оповещения
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">13 мая 2019</div>
                                        <span class="font-weight-bold">Пример оповещения</span>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Показать все
                                    оповещения</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">1</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Сообщения
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{% static 'img/user.png' %}" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Пример сообщения.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Показать все
                                    сообщения</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.get_username}}</span>
                                <img class="img-profile rounded-circle" src="{% static 'img/user.png' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Профиль
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Настройки
                                </a>
                                {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">
                                    <i class="fas fa-users-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Администрирование
                                </a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Выход
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% block Content %}
                    {% endblock %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Все найденные ошибки и предложения по улучшению присылать на <a
                                href="mailto:Andrey.Gavrilov@x5.ru?subject=Store Dashboard(Django)">Andrey.Gavrilov@x5.ru</a></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/popper.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/sb-admin-2.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/datatables.min.js' %}" type="text/javascript"></script>
    {% block myjs %}

    {% endblock %}


</body>

</html>