{% extends 'base.html'%}

{% block title %}
X5 Reatail Group
{% endblock %}



{% block page_title %}
    Отдел мониторинга
{% endblock %}

{% block Content %}
{% for post in posts %}
<div class="card">
    <div class="card-header">
        <p>{{post.title}}</p>
        <div class="row">
            <div class="col"></div>

        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{post.body}}</p>
        <div class="col text-right font-weight-light small">Автор: {{post.author}}<br>Дата: {{post.created}}</div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block JavaScript %}
{% endblock %}