{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->

  <title>Вход</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{%  static 'css/style.css' %}">
  <link rel="stylesheet" href="{%  static 'css/login.css' %}">
</head>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first my-4">
        <img src="{%  static 'img/X5_retail_group.png' %}" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <input id="username" class="form-control fadeIn second" name="username" placeholder="Логин (учетная запись AD)" type="text">
        </div>
        <div class="form-group">
          <input id="password" class="form-control fadeIn third" name="password" placeholder="Пароль" type="password">
        </div>
        <div class="form-group">
          <input type="submit" class="fadeIn fourth" value="Вход">
        </div>



      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
<a class="underlineHover" href="#">Forgot Password?</a> -->
    </div>

  </div>
  </div>
</body>
